{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>Polls App</h1>
{% if question_list %}
    <ul>
        {% for question in question_list %}
            <li>
                <a href="{% url 'detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No poll is avaible.</p>
{% endif %}
